.container {
  height: 100%;
  align-items: center;
  justify-content: center;

  //background: url(../../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

}

.btn {
  float: right;
}

$table-font-color: #606c71;
$table-border-color: #e9ebec;

:host{
   /deep/ { 
       *{
       font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;    
       }

       table{
        color: $table-font-color;  
        tr {
            td,th{
               border: 1px solid $table-border-color; 
            }
        }
       }
   }
}