nav {
    -webkit-app-region: drag;
}

.nav-logo {
    height: 40px;
    width: 40px;
}

.info-logo {
    height: 100px;
    width: 100px;
}

.modal-body {
    align-content: center;
    text-align: center;
}